/* MapComponent.css */
.fade-layer {
    transition: opacity 0.5s ease-in-out; /* 0.5 másodperces fade effekt */
  }

  /* Leaflet zoom gombok szülő konténerének z-index csökkentése */
.leaflet-top.leaflet-right,
.leaflet-top.leaflet-left {
  z-index: 900 !important;
}

/* Zoom gombok z-index csökkentése */
.leaflet-control-zoom {
  z-index: 900 !important;
  margin-top: 60px !important; /* Maradjon az eredeti pozíció */
}

@media (max-width: 480px) {
  .leaflet-control-zoom {
    display: none;
  }
}