body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.profile-container {
  display: flex;
  min-height: 100vh;
  background-image: url('./image.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 50px;
  position: relative;
}

/* Barna átlátszó réteg a háttér felett */
.profile-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(233, 210, 194, 0.7);
  z-index: 0;
}

/* A tartalom és sidebar legyen a réteg felett */
#profile-sidebar,
.profile-content {
  position: relative;
  z-index: 1;
}

#profile-sidebar {
  width: 200px;
  background-color: #5099ce;
  color: #fff;
  padding: 20px;
  position: fixed;
  top: 50px;
  height: calc(100vh - 50px);
  overflow-y: auto;
  border-right: 2px solid #97d4ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#profile-sidebar h3 {
  margin: 0 0 20px;
  font-size: 1.5rem;
}

#profile-sidebar ul {
  list-style: none;
  padding: 0;
}

#profile-sidebar li {
  margin-bottom: 15px;
}

#profile-sidebar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  display: block;
  padding: 10px;
  border-radius: 12px;
}

#profile-sidebar a:hover {
  background-color: #407ea8;
}

.profile-content {
  margin-left: 250px;
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.sidebar-toggle {
  display: none;
  position: fixed;
  top: 3px;
  right: 50px; /* Távolság a Navbar gombtól */
  z-index: 1002;
  background: rgba(255, 255, 255, 0.18) url('./profile.png') no-repeat center center; /* Kép beállítása háttérként */
  background-size: 20px 20px; /* Méret beállítása, igazítsd a képhez */
  color: transparent; /* Szöveg elrejtése */
    border: 1px solid rgba(151, 212, 255, 0.5);
  padding: 5px 10px;
  width: 34px; /* Fix szélesség a képhez */
  height: 34px; /* Fix magasság a képhez */
  cursor: pointer;
  border-radius: 12px;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;

  cursor: pointer;
  transition: all 0.3s ease;
  flex-shrink: 0;

}

/* Reszponzív dizájn */
@media (max-width: 768px) {
  #profile-sidebar {
    display: none;
    position: fixed;
    top: 60px;
    right: 10px;
    width: 200px;
    height: calc(350px);
    background-color: #5099ce;
    border: 2px solid #97d4ff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    z-index: 1001;
  }

  #profile-sidebar.open {
    display: block;
    transform: scaleY(1);
  }

  .profile-content {
    margin-left: 0;
  }

  .sidebar-toggle {
    display: inline-block;
  }
}